review2/XML/XSD/coding.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DATA">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ROW">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:int" name="problemid" />
                            <xs:element type="xs:string" name="problemname" />
                            <xs:element type="xs:string" name="problemdesc" />
                            <xs:element type="xs:string" name="problemdifficulty" />
                            <xs:element type="xs:string" name="facultyid" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>