review2/XML/XSD/companyregistration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="forms">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="form">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="facultyid"/>
              <xs:element type="xs:int" name="formid"/>
              <xs:element type="xs:string" name="companyname"/>
              <xs:element type="xs:date" name="deadline"/>
              <xs:element type="xs:string" name="formurl"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>