review2/XML/XSD/courses.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="courses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="courseid"/>
              <xs:element type="xs:string" name="coursename"/>
              <xs:element type="xs:string" name="topicname"/>
              <xs:element type="xs:string" name="department"/>
              <xs:element type="xs:string" name="courseurl"/>
              <xs:element type="xs:string" name="facultyid"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>