review2/XML/XSD/events.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ROW">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="eventid"/>
              <xs:element type="xs:date" name="eventdate"/>
              <xs:element type="xs:string" name="eventtitle"/>
              <xs:element type="xs:string" name="eventdesc"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>