review2/XML/XSD/feedback.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="feedbacks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="feedback" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="facultyid"/>
              <xs:element type="xs:int" name="feedbackid"/>
              <xs:element type="xs:int" name="pace"/>
              <xs:element type="xs:int" name="onlinetoolsusgae"/>
              <xs:element type="xs:int" name="effectiveness"/>
              <xs:element type="xs:int" name="approachability"/>
              <xs:element type="xs:string" name="recommend"/>
              <xs:element type="xs:string" name="optadvanced"/>
              <xs:element type="xs:string" name="suggestions"/>
              <xs:element type="xs:int" name="courseid"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>