review2/XML/XSD/placementexperience.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="experiences">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="experience" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="experienceid"/>
              <xs:element type="xs:string" name="rollno"/>
              <xs:element type="xs:string" name="experiencecontent" />
              <xs:element type="xs:string" name="companyname"/>
              <xs:element type="xs:string" name="posttime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>