review2/XML/XSD/question.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="questions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="question" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="quizid"/>
              <xs:element type="xs:int" name="questionid"/>
              <xs:element type="xs:string" name="questioncontent" />
              <xs:element type="xs:string" name="answer"/>
              <xs:element type="xs:string" name="optiona" />
              <xs:element type="xs:string" name="optionb" />
              <xs:element type="xs:string" name="optionc" />
              <xs:element type="xs:string" name="optiond" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>