review2/XML/XSD/quiz.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ROW">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="quizid"/>
              <xs:element type="xs:string" name="facultyid"/>
              <xs:element type="xs:string" name="quizname"/>
              <xs:element type="xs:string" name="quizdescription"/>
              <xs:element type="xs:byte" name="numofquestions"/>
              <xs:element type="xs:date" name="quizdate"/>
              <xs:element type="xs:time" name="quizstarttime"/>
              <xs:element type="xs:time" name="quizendtime"/>
              <xs:element type="xs:byte" name="duration"/>
              <xs:element type="xs:string" name="department"/>
              <xs:element type="xs:string" name="topic"/>
              <xs:element type="xs:short" name="pin"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>