review2/XML/XSD/scores.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ROW">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="scoreid"/>
              <xs:element type="xs:byte" name="quizid"/>
              <xs:element type="xs:string" name="rollno"/>
              <xs:element type="xs:byte" name="total"/>
              <xs:element type="xs:byte" name="score"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>