review2/XML/XSD/studentnotes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="notes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="note" maxOccurs="unbounded" minOccurs="0"> 
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="noteid"/>
              <xs:element type="xs:string" name="notetitle"/>
              <xs:element type="xs:string" name="notecontent"/>
              <xs:element type="xs:date" name="notedate"/>
              <xs:element type="xs:string" name="rollno"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>