review2/XML/XSD/student.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ROW">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="fullname"/>
              <xs:element type="xs:string" name="rollno"/>
              <xs:element type="xs:string" name="authpassword"/>
              <xs:element type="xs:string" name="avatarurl"/>
              <xs:element type="xs:long" name="mobilenumber"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="department"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>