review2/XML/DTD/coding.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT problems (problem*)>
<!ATTLIST problems xmlns:xsi CDATA "http://www.w3.org/2001/XMLSchema-instance">
<!ATTLIST problems xsi:noNamespaceSchemaLocation CDATA "XSD/coding.xsd">
<!ELEMENT problem (problemid,problemname,problemdesc,problemdifficulty,
               facultyid)>
<!ELEMENT problemid (#PCDATA)>
<!ELEMENT problemname (#PCDATA)>
<!ELEMENT problemdesc (#PCDATA)>
<!ELEMENT problemdifficulty (#PCDATA)>
<!ELEMENT facultyid (#PCDATA)>