review2/XML/DTD/companyregistration.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT forms (form)>
<!ATTLIST forms xmlns:xsi CDATA "http://www.w3.org/2001/XMLSchema-instance">
<!ATTLIST forms xsi:noNamespaceSchemaLocation CDATA "XSD/companyregistration.xsd">
<!ELEMENT form (facultyid,formid,companyname,deadline,formurl)>
<!ELEMENT facultyid (#PCDATA)>
<!ELEMENT formid (#PCDATA)>
<!ELEMENT companyname (#PCDATA)>
<!ELEMENT deadline (#PCDATA)>
<!ELEMENT formurl (#PCDATA)>