review2/XML/DTD/courses.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT courses (course)*>
<!ATTLIST courses xmlns:xsi CDATA "http://www.w3.org/2001/XMLSchema-instance">
<!ATTLIST courses xsi:noNamespaceSchemaLocation CDATA "XSD/courses.xsd">
<!ELEMENT course (courseid,coursename,topicname,department,courseurl,
               facultyid)>
<!ELEMENT courseid (#PCDATA)>
<!ELEMENT coursename (#PCDATA)>
<!ELEMENT topicname (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT courseurl (#PCDATA)>
<!ELEMENT facultyid (#PCDATA)>