review2/XML/DTD/events.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT events (event)>
<!ATTLIST events xmlns:xsi CDATA "http://www.w3.org/2001/XMLSchema-instance">
<!ATTLIST events xsi:noNamespaceSchemaLocation CDATA "XSD/events.xsd">
<!ELEMENT event (eventid,eventdate,eventtitle,eventdesc)>
<!ELEMENT eventid (#PCDATA)>
<!ELEMENT eventdate (#PCDATA)>
<!ELEMENT eventtitle (#PCDATA)>
<!ELEMENT eventdesc (#PCDATA)>