review2/XML/DTD/placementexperience.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT experiences (experience)*>
<!ATTLIST experiences xmlns:xsi CDATA "http://www.w3.org/2001/XMLSchema-instance">
<!ATTLIST experiences xsi:noNamespaceSchemaLocation CDATA "XSD/placementexperience.xsd">
<!ELEMENT experience (experienceid,rollno,experiencecontent,companyname,posttime)>
<!ELEMENT experienceid (#PCDATA)>
<!ELEMENT rollno (#PCDATA)>
<!ELEMENT experiencecontent (#PCDATA)>
<!ELEMENT companyname (#PCDATA)>
<!ELEMENT posttime (#PCDATA)>