review2/XML/DTD/question.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT questions (question)+>
<!ATTLIST questions xmlns:xsi CDATA  "http://www.w3.org/2001/XMLSchema-instance">
<!ATTLIST questions xsi:noNamespaceSchemaLocation CDATA  "XSD/question.xsd">

<!ELEMENT question (quizid,questionid,questioncontent,answer)>


<!ELEMENT quizid (#PCDATA)>


<!ELEMENT questionid (#PCDATA)>


<!ELEMENT questioncontent (#PCDATA)>


<!ELEMENT answer (#PCDATA)>
