review2/XML/DTD/scores.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT scores (score)*>
<!ATTLIST scores xmlns:xsi CDATA "http://www.w3.org/2001/XMLSchema-instance">
<!ATTLIST scores xsi:noNamespaceSchemaLocation CDATA "XSD/scores.xsd">
<!ELEMENT score (scoreid,quizid,rollno,total,studentscore)>
<!ELEMENT scoreid (#PCDATA)>
<!ELEMENT quizid (#PCDATA)>
<!ELEMENT rollno (#PCDATA)>
<!ELEMENT total (#PCDATA)>
<!ELEMENT studentscore (#PCDATA)>