review2/XML/DTD/studentnotes.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT notes (note)>
<!ATTLIST notes xmlns:xsi CDATA "http://www.w3.org/2001/XMLSchema-instance">
<!ATTLIST notes xsi:noNamespaceSchemaLocation CDATA "XSD/studentnotes.xsd">
<!ELEMENT note (noteid,notetitle,notecontent,notedate,rollno)>
<!ELEMENT noteid (#PCDATA)>
<!ELEMENT notetitle (#PCDATA)>
<!ELEMENT notecontent (#PCDATA)>
<!ELEMENT notedate (#PCDATA)>
<!ELEMENT rollno (#PCDATA)>